@model EasySell.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 本周订单</span>
            <div class="count">@Model.OrdersOfThisWeek</div>
            @{
                string color = "green";
                string increase = Model.OrderIncrease.ToString("F");
                string arrow = "asc";
                if (Model.OrderIncrease < 0)
                {
                    increase = Math.Abs(@Model.OrderIncrease).ToString("F");
                    color = "red";
                    arrow = "desc";
                }
            }
            <span class="count_bottom"><i class="@color"><i class="fa fa-sort-@arrow"></i>@Model.OrderIncrease % </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 本周销售额</span>
            <div class="count">@Model.SalesOfThisWeek</div>
            @{
                increase = Model.SalesIncrease.ToString("F");
                if (Model.SalesIncrease < 0)
                {
                    increase = Math.Abs(@Model.SalesIncrease).ToString("F");
                    color = "red";
                    arrow = "desc";
                }
            }
            <span class="count_bottom"><i class="@color"><i class="fa fa-sort-@arrow"></i>@Model.SalesIncrease % </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 本周成本</span>
            <div class="count">@Model.CostOfThisWeek</div>
            @{
                color = "green";
                increase = Model.CostIncrease.ToString("F");
                if (Model.CostIncrease < 0)
                {
                    increase = Math.Abs(@Model.CostIncrease).ToString("F");
                    color = "red";
                    arrow = "desc";
                }
            }
            <span class="count_bottom"><i class="@color"><i class="fa fa-sort-@arrow"></i>@Model.CostIncrease % </i> From last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 总销售额</span>
            <div class="count ">@Model.TotalSales</div>            
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i> </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 总成本</span>
            <div class="count">@Model.TotalCost</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i> </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 利润</span>
            <div class="count blue">@Model.TotalRevenue</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i> </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>利润 Summary <small>Weekly progress</small></h2>
                    <div class="filter">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="demo-container" style="height:280px">
                            <div id="chart_plot_02" class="demo-placeholder"></div>
                        </div>
                        <div class="tiles">
                            <div class="col-md-4 tile">
                                <span>订单</span>
                                <h2>231,809</h2>
                                <span class="sparkline11 graph" style="height: 160px;">
                                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                            <div class="col-md-4 tile">
                                <span>销售额</span>
                                <h2>$231,809</h2>
                                <span class="sparkline22 graph" style="height: 160px;">
                                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                            <div class="col-md-4 tile">
                                <span>Total Sessions</span>
                                <h2>231,809</h2>
                                <span class="sparkline11 graph" style="height: 160px;">
                                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_title">
                                <h2>Top 客户</h2>

                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                            @foreach (var item in Model.TopCustomers)
                            {
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@item.CustomerName</a>
                                        <p><strong>￥@item.TotalOrderedAmount </strong> (汇率: 5.2) </p>
                                        <p>
                                            <small>@item.TotalOrders Total Orders </small>
                                        </p>
                                    </div>
                                </li>
                            }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>总销售数量 <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                            int i = 1;
                            foreach (var item in Model.TopGoodsByCount)
                            {
                                <article class="media event">
                                    <a class="pull-left date">
                                        <p class="day">@i</p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@item.GoodName</a>
                                        <p>@item.SoldCount</p>
                                    </div>
                                </article>
                                i++;
                            }
                    }
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>总销售利润 <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"></p>
                            <p class="day">1</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">木瓜高</a>
                            <p>￥ 2340</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Three Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>平均利润率 <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month"></p>
                            <p class="day">1</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">木瓜高</a>
                            <p> 30%</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Two Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">April</p>
                            <p class="day">23</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">Item Three Title</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
