@model EasySell.Models.GoodInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>New Good Item</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("Create", "GoodInfoes", FormMethod.Post, new { @class = "form-horizontal form-label-left input_mask" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="GoodName">
                                Name <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control has-feedback-left" } })                                
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="Quantity">
                                Brand <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control has-feedback-left" } })
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="Cost">
                                Weight <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control has-feedback-left", @type = "number" } }) 
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                                <a href="@Url.Action("Index", "GoodInfoes")" class="btn btn-primary"> Cancel</a>
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
