@model IEnumerable<EasySell.Models.GoodInfoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>商品信息</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a href="@Url.Action("Create")" class="btn btn-primary btn-xs"> Create New</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Brand</th>
                                    <th>Weight</th>
                                    <th>Avg. Cost</th>
                                    <th>Avg. Price</th>
                                    <th>Total Sold</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Html.DisplayFor(modelItem => item.GoodInfo.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GoodInfo.Brand)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GoodInfo.Weight)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AverageCost)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AveragePrice)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalSold)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>