
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
   <table>
    @foreach (var orderedgood in ViewBag.OrderedGoods)
    {
       <tr>
           <td>
               @orderedgood.GoodID
           </td>
           <td>
               @orderedgood.SellPrice
           </td>
       </tr>
    }
   </table>
</div>



<div>
    <h4>Packages</h4>
    <table>
        @foreach (var package in ViewBag.Packages)
        {
            <tr>
                <td>
                    @package.OrderID
                </td>
                <td>
                    @package.ProviderID
                </td>
            </tr>
        }
    </table>
</div>

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">

                    <div class="x_content">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <ul class="stats-overview">
                                <li>
                                    <span class="name"> Cost </span>
                                    <span class="value text-success"> 2300 </span>
                                </li>
                                <li>
                                    <span class="name"> Package Cost </span>
                                    <span class="value text-success"> 2000 </span>
                                </li>
                                <li class="hidden-phone">
                                    <span class="name"> Total Sell </span>
                                    <span class="value text-success"> 3000 </span>
                                </li>
                            </ul>
                            <br />

                            <div>
                                <!-- end of user messages -->

                                <div class="x_title">
                                    <h2>Order Good <small></small></h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <th>
                                                        #
                                                    </th>
                                                    <th class="column-title">Name </th>
                                                    <th class="column-title">Price </th>
                                                    <th class="column-title">Amount </th>
                                                    <th class="column-title">Status </th>
                                                    <th class="column-title no-link last">
                                                        <span class="nobr">Action</span>
                                                    </th>
                                                    <th class="bulk-actions" colspan="7">
                                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="even pointer">
                                                    <td class="a-center ">
                                                        1
                                                    </td>
                                                    <td class=" ">muguagao</td>
                                                    <td class=" ">$ 12 </td>
                                                    <td class=" ">12 </td>
                                                    <td class=" ">缺货</td>
                                                    <td class=" last">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                                    </td>
                                                </tr>
                                                <tr class="odd pointer">
                                                    <td class="a-center ">
                                                        1
                                                    </td>
                                                    <td class=" ">muguagao</td>
                                                    <td class=" ">$ 12 </td>
                                                    <td class=" ">12 </td>
                                                    <td class=" ">缺货</td>
                                                    <td class=" last">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                                    </td>
                                                </tr>
                                                <tr class="even pointer">
                                                    <td class="a-center ">
                                                        1
                                                    </td>
                                                    <td class=" ">muguagao</td>
                                                    <td class=" ">$ 12 </td>
                                                    <td class=" ">12 </td>
                                                    <td class=" ">缺货</td>
                                                    <td class=" last">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- end of user messages -->

                            </div>

                        </div>
                        <!-- start project-detail sidebar -->
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <section class="panel">
                                <div class="x_title">
                                    <h2>Order Info</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="project_detail">
                                        <p class="title">Client Name</p>
                                        <p>linshen</p>
                                        <p class="title">Address</p>
                                        <p>禁止路 111号</p>
                                        <p class="title">Phone</p>
                                        <p>13913933333</p>
                                    </div>
                                    <br />

                                    <div class="text-center mtop20">
                                        <a href="#" class="btn btn-sm btn-primary">Add files</a>
                                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- end project-detail sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>