@model IEnumerable<EasySell.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New Order", "Create");
</p>
<p>
    @Html.ActionLink("All Order", "Index", new { status = 0 }, null);
</p>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>订单 <small>Active</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 20%">Customer Name</th>
                                <th>Priority</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th style="width: 40%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>
                                    <a>@Html.DisplayFor(modelItem => item.customerID)</a>
                                    <br />
                                    @if (item.IsActive == 1)
                                    { 
                                    <small>Created @Html.DisplayFor(modelItem => item.order_createtime)</small>
                                    }
                                    else
                                    {
                                        <small>Closed @Html.DisplayFor(modelItem => item.order_closetime)</small>
                                    }
                                </td>
                                
                                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                                <td class="project_progress">
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@(item.StatusID * 25)"></div>
                                    </div>
                                    <small>@(item.StatusID * 25)% Complete</small>
                                </td>
                                <td>
                                    @if (item.IsActive == 1)
                                    {
                                        <button type="button" class="btn btn-success btn-xs">Processing</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default btn-xs">Complete</button>
                                    }                                    
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
                                    <a href="@Url.Action("ProcessOrder", "Orders", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 处理订单 </a>                                
                                    <a href="@Url.Action("Invoice", "Orders", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 发票 </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>
</div>
